<div class="emphasis">
<strong>{{ "Note :" | t: include.locale }}</strong> {{ "cet article a d'abord été publié sur" | t: include.locale }} <a href="{{ include.canonical }}">{{ include.title }}</a>{%- if include.dismissed %} ({{ "abandonné" | t: include.locale }}){% endif -%}.
</div>