{% comment %}
  Completly snatched from Michael Rose's MadeMistake blog post https://mademistakes.com/articles/improving-jekyll-static-comments/
{% endcomment %}
<section class="reactions post-footer">
  {% if site.data.comments[include.slug] %}
    <!-- Start static comments -->
    <div id="comments">
      <h2>
        {% if site.data.comments[include.slug].size > 1 %}
          {{ site.data.comments[include.slug] | size }} {{ "commentaires" | t: include.locale }}
        {% else %}
          {{ "Commentaire" | t: include.locale }}
        {% endif %}
      </h2>
      {% if site.data.comments[include.slug].size > 0 %}
        <ul class="comments">
        {% assign comments = site.data.comments[include.slug] | where_exp: 'item', "item.replying_to == ''" %}
        {% assign sortedcomments = comments | sort: 'date' %}
        {% for comment in sortedcomments %}
          {% assign index       = forloop.index %}
          {% assign r           = comment.replying_to %}
          {% assign replying_to = r | to_integer %}
          {% assign avatar      = comment.avatar %}
          {% assign email       = comment.email %}
          {% assign name        = comment.name %}
          {% assign url         = comment.url %}
          {% assign date        = comment.date %}
          {% assign message     = comment.message %}
          {% include comment.html.liquid index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message  slug=include.slug %}
        {% endfor %}
        </ul>
      {% endif %}
    </div>
    <!-- End static comments -->
  {% endif %}

  <!-- Start new comment form -->
  <div id="respond">
    <h3 class="page__section-label">{{ "Laisser un commentaire" | t: include.locale }} <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ include.url | absolute_url }}#respond" class="npe" style="display:none;">{{ "Annuler" | t: include.locale }}</a></small></h3>

    <form id="comment-form" netlify-honeypot="cb" class="page__form js-form form" method="POST" action="comment" data-netlify="true">
      <fieldset>
        <label for="comment-form-message"><strong>{{ "Commentaire" | t: include.locale }}</strong> <small></small></label>
        <textarea rows="6" id="comment-form-message" name="message" required spellcheck="true"></textarea>
      </fieldset>
      <fieldset>
        <label for="comment-form-name"><strong>{{ "Nom" | t: include.locale }}</strong></label>
        <input type="text" id="comment-form-name" name="name" autocomplete="name" required spellcheck="false">
      </fieldset>
      <fieldset>
        <label for="comment-form-email"><strong>{{ "Email" | t: include.locale }}</strong> <small>({{ "facultatif" | t: include.locale }})</small></label>
        <input type="email" id="comment-form-email" name="email" autocomplete="email" spellcheck="false">
      </fieldset>
      <fieldset>
        <label for="comment-form-url"><strong>{{ "Site" | t: include.locale }}</strong> <small>({{ "facultatif" | t: include.locale }})</small></label>
        <input type="url" id="comment-form-url" name="url" autocomplete="url"/>
      </fieldset>
      <fieldset>
        <label for="comment-form-cb"><strong>{{ "Coordonnées de votre planète (uniquement pour les non-humains)" | t: include.locale }}</strong></label>
        <input type="text" id="comment-form-cb" name="cb" autocomplete="url"/>
      </fieldset>
      <fieldset class="hidden" style="display: none;">
        <input type="hidden" id="comment-post-url" name="origin" value="{{ include.url | absolute_url }}">
        <input type="hidden" id="comment-replying-to" name="replying_to" value="">
        <input type="hidden" id="comment-post-id" name="slug" value="{{ include.slug }}">
        <input type="hidden" id="comment-timestamp" name="timestamp" value="">
        <input type="hidden" id="comment-guid" name="guid" value="">
      </fieldset>
      <fieldset>
        <div data-netlify-recaptcha="true"></div>
        <button type="submit" id="comment-form-submit" class="button-inversed">{{ "Poster le commentaire" | t: include.locale }}</button>
      </fieldset>
      <p class="info success hidden">
        {{ "Commentaire posté avec succès !" | t: include.locale }}
      </p>
      <p class="info fail hidden">
        {{ "Houston, on a un problème." | t: include.locale }}
      </p>
    </form>
  </div>
</section>
