<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- CSS -->
  {% css core %}
  {% if page.category.size > 0 %}
      {% capture catdown %}{{ page.category|downcase }}{% endcapture %}
      {% capture themeColor %}{{ site.data.styles[catdown].color }}{% endcapture %}
  {% endif %}
  {% case page.category %}
    {% when 'Citoyen' %}
      {% css citoyen data-instant-track %}
    {% when 'Papa' %}
      {% css papa data-instant-track %}
    {% else %}
      {% css main data-instant-track %}
  {% endcase %}

  <!-- WebMentions -->
  {% comment %}<link rel="pingback" href="https://webmention.io/borisschapira.com/xmlrpc" />{% endcomment %}
  <link rel="pingback" href="https://webmention.io/webmention?forward=https://webmention.io/borisschapira.com/webmention" />
  <link rel="webmention" href="https://webmention.io/borisschapira.com/webmention" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.author.feed }}">

  <!-- Social Media -->
  {% include head-compute-socials.html.liquid %}

  <title itemprop="name">{{ socialTitle }}</title>

  {% capture x_canonical %}x{{ page.canonical }}{% endcapture %}
  {% if x_canonical != "x" %}
    <link rel="canonical" href="{{ page.canonical }}" data-proofer-ignore/>
  {% endif %}

  <meta name="description" content="{{ socialDescription }}" />
  <meta property="og:url" content="{{ socialUrl }}" />
  <meta property="og:type" content="{{ socialType }}" />
  <meta property="og:title" content="{{ socialTitle }}" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta property="og:site_name" content="{{ socialSitename }}" />
  <meta property="article:author" content="{{ site.author.facebook }}" />
  <meta property="article:published_time" content="{{ socialDate }}" />

  {% if page.category != nil %}
  <meta property="article:section" content="{{ page.category }}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="{{ site.domain }}" />
  <meta name="twitter:title" content="{{ socialTitle }}" />
  <meta name="twitter:description" content="{{ socialDescription }}" />
  <meta property="twitter:label1" content="Par" />
  <meta property="twitter:data1" content="{{ socialAuthor }}" />

  {% if page.category != nil %}
    <meta property="twitter:label2" content="Catégorie" />
    <meta property="twitter:data2" content="{{ page.category }}" />
  {% endif %}

  <meta name="twitter:image" content="{{ socialImage }}">
  <meta name="twitter:creator" content="{{ site.author.twitter_username }}" />
  <meta name="twitter:site" content="{{ site.author.twitter_username }}" />
  <meta name="twitter:widgets:link-color" content="{{ site.mainColor }}">
  <meta name="twitter:widgets:border-color" content="{{ site.mainColor }}">
  <meta name="twitter:dnt" content="on">
  <meta name="twitter:widgets:csp" content="on">

  <!-- Real favicon generator -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=NmmdjmNgRx" sizes="32x32" data-proofer-ignore>
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=NmmdjmNgRx" sizes="192x192" data-proofer-ignore>
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v=NmmdjmNgRx" sizes="96x96" data-proofer-ignore>
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=NmmdjmNgRx" sizes="16x16" data-proofer-ignore>
  <link rel="manifest" href="/manifest.json?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=NmmdjmNgRx" data-proofer-ignore>
  <link rel="shortcut icon" href="/favicon.ico?v=NmmdjmNgRx" data-proofer-ignore>
  <meta name="msapplication-TileColor" content="#d00b6d" data-proofer-ignore>
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=NmmdjmNgRx" data-proofer-ignore>
  {% capture themeColor %}{{ site.data.styles.default.color }}{% endcapture %}
  {% if page.category.size > 0 %}
      {% capture catdown %}{{ page.category|downcase }}{% endcapture %}
      {% capture themeColor %}{{ site.data.styles[catdown].color }}{% endcapture %}
  {% endif %}
  <meta name="theme-color" content="{{ themeColor }}">
</head>
