{%- assign datetime = include.post.date | date_to_xmlschema -%}

<article class="{{ post.category }} colorized post" {% if include.postPage -%} id="content"{%- endif -%}>
  {%- if include.postPage -%}
  <div class="post-content">
    {{ include.post.content }}
  </div>
  {%- else -%}
    <h2 class="post-title">
      <a href="{{ include.post.url }}">{{ include.post.title }}{%- if include.post.subtitle -%}<br>, <small>{{ include.post.subtitle }}</small>{%- endif -%}</a>
    </h2>
    <footer class="meta">
      <time class="dt-published" datetime="{{ datetime }}">{%- unless include.post.locale =='fr' -%}{%- include date_en.html.liquid postDate=include.post.date locale=include.post.locale -%}{%- else -%}{{ include.post.date | l: '%-d %B %Y', include.post.locale }}{%- endunless -%}</time>{%- if include.displayCategory=="true" -%}<span><a href="{{ include.post.category | t: include.post.locale | prepend: page.baseurl | relative_url }}/" title="{{ "Articles de" | t: include.locale }} {{ "la catégorie" | t: include.locale }} {{ include.post.category }}" class="category {%- if include.post.category -%}{{include.post.category}}{%- else -%}main{%- endif -%}">{{ include.post.category | t: include.post.locale }}</a></span>{%- endif -%}
    </footer>
  {%- endif -%}
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"BlogPosting",
    "@id": "{{ include.post.url | absolute_url }}",
    "datePublished":"{{ datetime }}",
    "dateModified":"{%- if include.post.last_modified_at -%}{{ include.post.last_modified_at }}{%- else -%}{{ datetime }}{%- endif -%}",
    "name":"{{ page.social.title }}",
    "headline":"{{ page.social.description }}",
    "author": {
      "@type":"Person",
      "name": "{%- if include.post.author -%}{{ include.post.author }}{%- else -%}{{ site.author.name }}{%- endif -%}"
    },
    "publisher": {
      "@type":"Organization",
      "name": "{{ site.author.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.author.avatar }}"
      }
    },
    "image":"{{ include.post.social.image }}",
    "keywords":"{{ include.post.categories | join: " " }} {{ include.post.tags | join: " " }}",
    "mainEntityOfPage": "
    {%- if include.post.canonical -%}
      {%- if include.post.canonical_dismissed -%}
        {{ include.post.url | absolute_url }}
      {%- else -%}
          {{ include.post.canonical }}
      {%- endif -%}
    {%- else -%}
      {{ include.post.url | absolute_url }}
    {%- endif -%}"
  }
  </script>
</article>
