<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting"{% if include.postPage %} id="content"{% else %} aria-labelledby="{{ include.post.slug }}"{% endif %}>
    <header class="p-header">
        {% assign datetime = include.post.date | date_to_xmlschema %}<time class="p-date dt-published" datetime="{{ datetime }}">{% unless include.post.locale =='fr_FR' %}{% include date_en.html.liquid postDate=include.post.date locale=post.locale %}{% else %}{{ include.post.date | localize: '%A %-d', include.post.locale }} <a href="{{ include.post.date | localize: '%Y/%m/', include.post.locale | relative_url }}" title="{% t Articles de %} {{ include.post.date | localize: '%B %Y', include.post.locale }}">{{ include.post.date | localize: '%B', include.post.locale }}</a> <a href="{{ include.post.date | localize: '%Y/', include.post.locale | relative_url }}" title="{% t Articles de %} {{ include.post.date | localize: '%Y', include.post.locale }}">{{ include.post.date | localize: '%Y', include.post.locale }}</a>{% endunless %}</time>{% if include.post.locale =='fr_FR' %}<span class="p-category"><a href="{{ include.post.category | downcase | relative_url }}" title="{% t Articles de %} {% t la catégorie %} {{ include.post.category }}">{{ include.post.category }}</a></span>{% endif %}<span class="p-author h-card">{{ site.author.name }}</span>
    </header>

  <h2 class="post-title p-name"{% unless include.postPage %} id="{{ include.post.slug }}"{% endunless %}>
    {% if include.postPage %}
        {{ include.post.title }}
    {% else %}
    <a href="{{ include.post.url }}">{{ include.post.title }}</a>
    {% endif %}
  </h2>

  <div class="post-content">
    {% if include.postPage %}
      {{ include.post.content }}
    {% else %}
      {% if include.post.content contains "<!-- more -->" %}
        {{ include.post.content | split:"<!-- more -->" | first | markdownify }}
        <p class="read-more">
          <a href="{{ include.post.url }}" title="{{post.title}}">{% t Lire la suite %} →</a>
        </p>
      {% elsif include.post.content.size < 1000 %}
        {% if include.post.content contains "<figure>" %}
          {{ include.post.content | split:"<figure>" | first | markdownify }}
          <p class="read-more">
            <a href="{{ include.post.url }}" title="{{post.title}}">{% t Lire la suite %} →</a>
          </p>
        {% else %}
          {{ include.post.content | markdownify }}
        {% endif %}
      {% else %}
        {{ include.post.excerpt | markdownify }}
        <p class="read-more">
          <a href="{{ include.post.url }}" title="{{post.title}}">{% t Lire la suite %} →</a>
        </p>
      {% endif %}
    {% endif %}
  </div>
</article>
