{% if include.postPage %}
  {% assign post = page %}
{% endif %}

{% assign source = page.path | split: '/' %}
{% assign folderName = source.last | split: '.' | first %}
{% assign title_encoded = post.title | url_encode %}
{% capture url %}{{ site.url | append:page.base-url | append:post.url }}{% endcapture %}

<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting"{% if include.postPage %} id="content"{% else %} aria-labelledby="{{ post.slug }}"{% endif %}>
    <header class="p-header">
        {% assign datetime = post.date | date_to_xmlschema %}<time class="p-date dt-published" datetime="{{ datetime }}">{% unless page.locale =='fr_FR' %}{% include date_en.html.liquid postDate=post.date locale=page.locale %}{% else %}{{ post.date | localize: '%A %-d', page.locale }} <a href="{{ site.base-url }}{{ post.date | localize: '%Y/%m/', page.locale }}" title="{% t Articles de %} {{ post.date | localize: '%B %Y', page.locale }}">{{ post.date | localize: '%B', page.locale }}</a> <a href="{{ site.base-url }}{{ post.date | localize: '%Y/', page.locale }}" title="{% t Articles de %} {{ post.date | localize: '%Y', page.locale }}">{{ post.date | localize: '%Y', page.locale }}</a>{% endunless %}</time><span class="p-category"><a href="{{ page.base-url }}/{{post.category|downcase}}/">{{ post.category }}</a></span>{% include reading_time.html.liquid content=post.content %}<span class="p-author h-card">{{ site.author.name }}</span>
    </header>

  {% capture hn %}h2{% endcapture %}
  {% unless page.hideCustomHead %}
    {% capture hn %}h3{% endcapture %}
  {% endunless %}

  <{{hn}} class="post-title p-name"{% unless include.postPage %} id="{{ post.slug }}"{% endunless %}>
    {% if include.postPage %}
        {{ post.title }}
    {% else %}
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  </{{hn}}>

  <div class="post-content">
    {% if include.postPage %}
      {{ post.content }}
    {% else %}
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first | markdownify % }}
        <p>
          <a href="{{ post.url }}" title="{{post.title}}">{% t Lire la suite %} →</a>
        </p>
      {% elsif post.content.size < 1000 %}
        {% if post.content contains "<figure>" %}
          {{ post.content | split:"<figure>" | first | markdownify % }}
          <p>
            <a href="{{ post.url }}" title="{{post.title}}">{% t Lire la suite %} →</a>
          </p>
        {% else %}
          {{ post.content | markdownify }}
        {% endif %}
      {% else %}
        {{ post.excerpt | markdownify }}
        <p>
          <a href="{{ post.url }}" title="{{post.title}}">{% t Lire la suite %} →</a>
        </p>
      {% endif %}
    {% endif %}
  </div>
</article>
