<footer class="post-footer">
  {% assign url_encoded = url | url_encode %}
  <div class="discuss share">
    <p>
      {% t Envie de discuter de cet article %} ? {% t Envoyer un message %} <a rel="noopener  nofollow" href="https://twitter.com/share?text={{ site.author.twitter_username|raw }}" title="{% t Envoyer un message %} {% t sur %} Twitter">{% t sur %} Twitter&nbsp;<svg class="icon icon-twitter2"><use xlink:href="#icon-twitter2"></use></svg></a> {% t ou %} <a rel="noopener me" title="{% t Envoyer un message %} mail" href="mailto:{{ site.author.mailto }}?subject=Page%20%22{{page.title}}%22&body=url+%3D+{{page.url}}+%0D%0A%0D%0ABonjour%2C%0D%0A%0D%0A%7B%7B+N%27h%C3%A9sitez+pas+%C3%A0+prendre+quelques+minutes+pour+vous+pr%C3%A9senter+si+c%27est+votre+premier+envoi.+%7D%7D%0D%0A%0D%0A%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85%0D%0A%0D%0A%7B%7B+%C3%89crivez+ici+votre+message+%7D%7D%0D%0A%0D%0A%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85">{% t envoyez-moi un %} <span class="nowrap">e-mail&nbsp;<svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></span></a>. {% t Si cet article vous a plu, n'hésitez pas à le partager %} <a rel="noopener  nofollow" href="https://twitter.com/share?text=&quot;{{ title_encoded }}&quot;+{% t par %}+{{ site.author.twitter_username|raw }}" title="{% t Partager cet article %} {% t sur %} Twitter">{% t sur %} Twitter&nbsp;<svg class="icon icon-twitter2"><use xlink:href="#icon-twitter2"></use></svg></a> {% t ou %} <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ url_encoded }}" title="{% t Partager cet article %} {% t sur %} Facebook">Facebook&nbsp;<svg class="icon icon-facebook2"><use xlink:href="#icon-facebook2"></use></svg></a>.
    </p>
  </div>

  <div class="contrib">
    <p>
      {% t Si vous détectez une erreur et que vous avez un compte Github %}, {% t vous pouvez proposer une %} <a rel="nofollow" href="{{ site.author.github|raw }}/blog/blob/master/{{ page.lang | downcase }}/{{ page.category | downcase }}/{{ page.date | date: "%Y" }}/{{ folderName }}/{{ source.last }}">{% t modification des %} <span class="nowrap">{% t sources %}&nbsp;<svg class="icon icon-git"><use xlink:href="#icon-git"></use></svg></span></a>
      {% t ou ouvrir un %} <a class="nowrap" href="{{ site.author.github|raw }}/blog/issues/new?title=Article%20%22{{page.url}}%22" rel="nofollow">{% t ticket %}&nbsp;<svg class="icon icon-github4"><use xlink:href="#icon-github4"></use></svg></a>.
    </p>
  </div>
</footer>
