<footer class="post-footer">
  <div class="contrib">
    <p>
      <em>{% t Si vous détectez une erreur et que vous avez un compte Github %}, {% t vous pouvez proposer une %} <a rel="nofollow" href="{{ site.author.github|raw }}/borisschapira.com/tree/master/_posts/{{ page.locale | slice: 0,2 | downcase }}/{{ page.category | downcase }}/{{ page.date | date: "%Y" }}/{{ folderName }}/{{ source.last }}">{% t modification des %} <span class="nowrap">{% t sources %}</span></a>
      {% t ou ouvrir un %} <a class="nowrap" href="{{ site.author.github|raw }}/borisschapira.com/issues/new?title=Article%20%22{{page.url}}%22" rel="nofollow">{% t ticket %}</a>.</em>
    </p>
  </div>
</footer>
