{% assign source = include.path | split: '/' %}
{% assign title_encoded = include.title | url_encode %}
{% capture url %}{{ include.url | absolute_url }}{% endcapture %}

<footer class="post-footer">
  {% if include.serie %}
    {% assign series_posts = site.tags[include.serie] | where:"locale", page.locale }
    {% assign series_posts_size = series_posts | size %}
    {% if series_posts_size >= 2 %}
      <div class="serie">
      {% assign serie_slug = include.serie | slugify %}
      <p>{{ 'Cet article fait partie de la série "[%s](/tag/%s)".' | t: include.locale | replace: '%s', serie_slug | markdownify }} {{ "Ne ratez pas ces autres articles :" | t: include.locale }}</p>
      <ul>
      {% for p in series_posts %}
        {% unless p.url==include.url %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endunless %}
      {% endfor %}
      </ul>
      </div>
    {% endif %}
  {% endif %}
  <div class="contrib">
    <p>
      {{ "Si vous détectez une erreur et que vous avez un compte Github" | t: include.locale }}, {{ "vous pouvez proposer une" | t: include.locale }} <a rel="nofollow" href="{{ site.author.github|raw }}/borisschapira.com/tree/master/_posts/{{ include.locale | downcase }}/{{ include.category | downcase }}/{{ include.date | date: "%Y" }}/{{ source.last }}">{{ "modification des" | t: include.locale }} <span class="nowrap">{{ "sources" | t: include.locale }}</span></a>
      {{ "ou ouvrir un" | t: include.locale }} <a class="nowrap" href="{{ site.author.github|raw }}/borisschapira.com/issues/new?title=Article%20%22{{include.url}}%22" rel="nofollow">{{ "ticket" | t: include.locale }}</a>.
    </p>
  </div>
</footer>
