{%- capture alternative -%}
  {{ 'disponible en' | t: include.locale }}
  {% if include.locale == "en" -%}
    {{ 'anglais' | t: include.locale }}
  {%- else -%}
    {{'français' | t: include.locale}}
  {%- endif -%}
{%- endcapture -%}
{%- capture linkContent -%}
  {%- if include.format == "verbose" -%}
    {{ alternative }}
  {%- else -%}
    <span class="sr-only">{{ alternative }}</span><span aria-hidden="true">{{ include.locale }}</span>
  {%- endif -%}
{%- endcapture -%}
<a
  class="lang {{ include.locale }}"
  href="{{ include.url }}"
  lang="{{ include.locale }}"
  title="{{ alternative }}"
  >{{ linkContent }}</a
>
