<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.base-url }}{{ page.base-url }}" itemprop="url">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    {% if page.loadSearch %}
      <div class="sidebar-search">
        <input type="text" class="js algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="{% t Recherche %}" autofocus title="{% t Recherche %}"/>
      </div>
    {% endif %}

    <nav class="sidebar-nav">
      <ul class="categories">
        <li class="sidebar-nav-item {% if page.category == 'default' %} active{% endif %}">
          <a href="{{ site.base-url }}{{ page.base-url }}">{% t En vrac %}</a>
        </li>

        {% assign cit_posts = (site.posts | where: "category" , 'Citoyen' | where: "lang" , page.lang) %}
        {% if cit_posts.size > 0 %}
          <li class="sidebar-nav-item{% if page.category == 'Citoyen' %} active{% endif %}">
            <a href="{{ site.base-url }}{{ page.base-url | append: 'citoyen/' }}">{% t Citoyen %}</a>
          </li>
        {% endif %}

        {% assign papa_posts = (site.posts | where: "category" , 'Papa' | where: "lang" , page.lang) %}
        {% if papa_posts.size > 0 %}
          <li class="sidebar-nav-item{% if page.category == 'Papa' %} active {% endif %}">
            <a href="{{ site.base-url }}{{ page.base-url | append: 'papa/' }}">{% t Papa %}</a>
          </li>
        {% endif %}
      </ul>

      <div class="lang">
        {% include i18n_flags.html.liquid %}
      </div>

      <ul class="secondary">

        <li class="sidebar-nav-item {% if page.url == "/search/" %} active {% endif %}">
          <a href="{{ site.base-url }}{{ page.base-url }}{% t recherche %}/" data-no-instant>
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>&nbsp;{% t Recherche %}</a>
        </li>
        <li class="sidebar-nav-item{% if page.i18n-key == 'about' %} active{% endif %}">
          <a href="{{ site.base-url }}{{ page.base-url }}{% t a-propos %}/">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>&nbsp;{% t À propos %}</a>
        </li>
      </ul>
    </nav>

    {% include sidebar-follow-icons.html.liquid %}

  </div>
</div>
