<ul class="follow-icons">
  <li>
    <a class="npe" rel="me nofollow" href="{{ site.author.github }}">
      <span class="sr-only">{% t Suivez-moi %} {% t sur %} Github</span>
      <svg class="icon icon-github4 aria-hidden">
        <use xlink:href="#icon-github4"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="npe" rel="me nofollow" href="{{ site.author.twitter }}">
      <span class="sr-only">{% t Suivez-moi %} {% t sur %} Twitter</span>
      <svg class="icon icon-twitter2" aria-hidden="true">
        <use xlink:href="#icon-twitter2"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Mastodon" href="{{ site.author.mastodon }}">
      <svg class="icon icon-mastodon">
        <use xlink:href="#icon-mastodon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="npe" rel="me nofollow" href="{{ site.author.facebook }}">
      <span class="sr-only">{% t Suivez-moi %} {% t sur %} Facebook</span>
      <svg class="icon icon-facebook2" aria-hidden="true">
        <use xlink:href="#icon-facebook2"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} LinkedIn" href="{{ site.author.linkedin }}">
      <span class="sr-only">{% t Suivez-moi %} {% t sur %} LinkedIn</span>
      <svg class="icon icon-linkedin" aria-hidden="true">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="npe" rel="me nofollow" href="{{ site.author.flickr }}">
      <span class="sr-only">{% t Suivez-moi %} {% t sur %} Flickr</span>
      <svg class="icon icon-flickr3" aria-hidden="true">
        <use xlink:href="#icon-flickr3"></use>
      </svg>
    </a>
  </li>
  <li>
    {% assign feed_url = "feed.xml" %}
    {% assign cats_eyes = page.category|size %}
    {% if cats_eyes > 0 %}
      {% assign feed_url = page.category | downcase | append: "/" | append: feed_url %}
    {% endif %}
    <a class="npe" rel="me nofollow" href="{{ feed_url | prepend: page.base-url }}">
      <span class="sr-only">{% t Abonnez-vous au flux %}</span>
      <svg class="icon icon-feed3" aria-hidden="true">
        <use xlink:href="#icon-feed3"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="npe" target="_top" rel="me nofollow" href="mailto:{{ site.author.mailto | raw }}?subject=Page%20%22{{page.title}}%22&body=url+%3D+{{page.url}}+%0D%0A%0D%0ABonjour%2C%0D%0A%0D%0A%7B%7B+N%27h%C3%A9sitez+pas+%C3%A0+prendre+quelques+minutes+pour+vous+pr%C3%A9senter+si+c%27est+votre+premier+envoi.+%7D%7D%0D%0A%0D%0A%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85%0D%0A%0D%0A%7B%7B+%C3%89crivez+ici+votre+message+%7D%7D%0D%0A%0D%0A%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85">
      <span class="sr-only">{% t Ecrivez-moi ! %}</span>
      <svg class="icon icon-mail" aria-hidden="true">
        <use xlink:href="#icon-mail"></use>
      </svg>
    </a>
  </li>
</ul>
