<div class="sidebar" role="navigation">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ page.base-url }}" itemprop="url">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    {% if page.loadSearch %}
      <div class="sidebar-search" role="search">
        <input type="text" class="js algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="{% t Recherche %}" autofocus title="{% t Recherche %}"/>
      </div>
    {% endif %}

    <nav class="sidebar-nav">
      
      {% if the-locale == 'fr_FR' %}
        <ul class="categories" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="sidebar-nav-item {% if page.category == 'web' %} active{% endif %}" itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem"><a href="{{ 'web/' | prepend: page.base-url }}" itemscope  itemtype="http://schema.org/Thing" itemprop="item">{% t Web %}</a></li>

          <li class="sidebar-nav-item{% if page.category == 'citoyen' %} active{% endif %}" itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
          <a href="{{ 'citoyen/' | prepend: page.base-url }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">{% t Citoyen %}</a>
          </li>

          <li class="sidebar-nav-item{% if page.category == 'papa' %} active {% endif %}" itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
          <a href="{{ 'papa/' | prepend: page.base-url }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">{% t Papa %}</a>
          </li>
        </ul>
      {% endif %}

      <div class="lang">
        {% include i18n_flags.html.liquid %}
      </div>

      <ul class="secondary">

        <li class="sidebar-nav-item {% if page.i18n-key == 'search' %} active {% endif %}">
          <a href="{{ site.base-url }}{{ page.base-url }}{% t recherche %}/" data-no-instant>
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>&nbsp;{% t Recherche %}</a>
        </li>
        <li class="sidebar-nav-item{% if page.i18n-key == 'about' %} active{% endif %}">
          <a href="{{ site.base-url }}{{ page.base-url }}{% t a-propos %}/">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>&nbsp;{% t À propos %}</a>
        </li>
      </ul>
    </nav>

    {% include sidebar-follow-icons.html.liquid %}

  </div>
</div>
