<ul class="follow-icons">
  {% if site\.author\.wordpress != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Wordpress" href="{{ site.author.wordpress }}">
      <svg class="icon icon-wordpress2">
        <use xlink:href="#icon-wordpress2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.dribbble != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Dribble" href="{{ site.author.dribbble }}">
      <svg class="icon icon-dribbble2">
        <use xlink:href="#icon-dribbble2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.gplus != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Google Plus" href="{{ site.author.gplus }}">
      <svg class="icon icon-google-plus2">
        <use xlink:href="#icon-google-plus2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.vimeo != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Vimeo" href="{{ site.author.vimeo }}">
      <svg class="icon icon-vimeo2">
        <use xlink:href="#icon-vimeo2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.youtube != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Youtube" href="{{ site.author.youtube }}">
      <svg class="icon icon-youtube3">
        <use xlink:href="#icon-youtube3"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.codepen != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Codepen" href="{{ site.author.codepen }}">
      <svg class="icon icon-codepen">
        <use xlink:href="#icon-codepen"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.instagram != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Instagram" href="{{ site.author.instagram }}">
      <svg class="icon icon-instagram">
        <use xlink:href="#icon-instagram"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.tumblr != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Tumblr" href="{{ site.author.tumblr }}">
      <svg class="icon icon-tumblr2">
        <use xlink:href="#icon-tumblr2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.pinterest != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Pinterest" href="{{ site.author.pinterest }}">
      <svg class="icon icon-pinterest2">
        <use xlink:href="#icon-pinterest2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.github != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Github" href="{{ site.author.github }}">
      <svg class="icon icon-github4">
        <use xlink:href="#icon-github4"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.twitter != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Twitter" href="{{ site.author.twitter }}">
      <svg class="icon icon-twitter2">
        <use xlink:href="#icon-twitter2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.mastodon != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Mastodon" href="{{ site.author.mastodon }}">
      <svg class="icon icon-mastodon">
        <use xlink:href="#icon-mastodon"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.facebook != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Facebook" href="{{ site.author.facebook }}">
      <svg class="icon icon-facebook2">
        <use xlink:href="#icon-facebook2"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.linkedin != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} LinkedIn" href="{{ site.author.linkedin }}">
      <svg class="icon icon-linkedin">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.flickr != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Suivez-moi %} {% t sur %} Flickr" href="{{ site.author.flickr }}">
      <svg class="icon icon-flickr3">
        <use xlink:href="#icon-flickr3"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.feed != nil %}
  <li>
    <a class="npe" rel="me nofollow" title="{% t Abonnez-vous au flux %}" href="/{% unless page.category == 'default' %}{{ page.category | downcase }}/{% endunless %}feed.xml">
      <svg class="icon icon-feed3">
        <use xlink:href="#icon-feed3"></use>
      </svg>
    </a>
  </li>
  {% endif %} {% if site\.author\.mailto != nil %}
  <li>
    <a class="npe" target="_top" rel="me nofollow" title="{% t Ecrivez-moi ! %}" href="mailto:{{ site.author.mailto | raw }}?subject=Page%20%22{{page.title}}%22&body=url+%3D+{{page.url}}+%0D%0A%0D%0ABonjour%2C%0D%0A%0D%0A%7B%7B+N%27h%C3%A9sitez+pas+%C3%A0+prendre+quelques+minutes+pour+vous+pr%C3%A9senter+si+c%27est+votre+premier+envoi.+%7D%7D%0D%0A%0D%0A%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85%0D%0A%0D%0A%7B%7B+%C3%89crivez+ici+votre+message+%7D%7D%0D%0A%0D%0A%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85">
      <svg class="icon icon-mail">
        <use xlink:href="#icon-mail"></use>
      </svg>
    </a>
  </li>
  {% endif %}
</ul>
